
/* 
    Created on : May 10, 2017, 11:41:58 PM
    Author     : loyal
*/
.jfx-snackbar-content {
    -fx-background-color:  #ff5722;
    -fx-background-radius: 20;
}

.jfx-snackbar-toast {
    -fx-text-fill: WHITE;
}

.jfx-snackbar-action {
    -fx-text-fill: #ff4081;
}
